.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}



.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;

}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1.5rem;
    }

    .nav-item ::deep a {
        color: #696969;
        height: 2.7rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    color: rgb(46, 46, 46);
    background-color: #e9e9e9;
    font-weight: 800;
}

.nav-item ::deep a:hover {
    color: rgb(66, 66, 66);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
        top: 6em;
        bottom: 0;
    }
}
