.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.title {

}
.top-row {
    color: #575757;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 2.8rem;
    display: flex;
    align-items: center;
    font-family: OCR A;
    margin-top: 0.2rem;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.3px;
    user-select: none;
}
.a-bold {
    font-weight: 800;
}

@keyframes blink {
    50% {
    opacity: 0;
  }
}
.blink {
    margin-left: -1rem;
    margin-bottom: 0.1rem;
    animation: blink 1s step-start infinite;
}
    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: -0.5rem;
        text-decoration: none;
    }


    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        display: block;
        position: sticky;

        top: 0;
        bottom: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    
}
