@inherits LayoutComponentBase
<div class="top-row px-4" href="#">
    <span class="oi oi-code px-3 blink"></span>
    <span class="title">YK Studio / </span><span class="a-bold"> megaTechart</span>
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
	<main>
        <article class="content px-4">
			@Body
		</article>
	</main>
</div>
